.containerShop{
    height: 500px;
    margin-bottom: 5%;
}
.shop{
    border: 1px solid blue
}
.product{
    height: 505px;
    background-image: url(https://gcdn.pbrd.co/images/V25xk8NsGE8P.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: -15rem;
    display: flex;
    justify-content: flex-end;
}

.service{
    height: 505px;
    background-image: url(https://gcdn.pbrd.co/images/YYcEeR4oaE0X.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 9rem;
    display: flex;
    justify-content: flex-start;
}
